<% @title = "顧客管理" %>
<h1><%= @title %></h1>

<div>
  <div>
    <%= link_to "新規登録", :new_admin_customer %>
  </div>

  <%= paginate @customers %>

  <table>
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>停止フラグ</th>
      <th>アクション</th>
    </tr>
    <% @customers.each do |m| %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.email %></td>
        <td class="boolean">
          <%= m.suspended? ? raw("&#x2611;") : raw("&#x2610;") %></td>
        <td>
          <%= link_to "編集", [ :edit, :admin, m ] %> |
          <%= link_to "Events", [:admin, m, :customer_events] %> |
          <%# ----- %>
          <%# rails/info/routesで確認
          admin/customers/:customer_id/posts(.:format)
          :admin, :18行目m, :post %>
          <%# ------ %>
          <%# <%= link_to "投稿記事一覧", [:admin, m, :posts] %> 
          <%= link_to "投稿記事一覧", admin_customer_posts_path(m.id) %>
          <%= link_to "削除", [ :admin, m ], method: :delete,
            data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= paginate @customers %>

  <div>
    <%= link_to "新規登録", :new_admin_customer %>
  </div>
</div>