<% @title = "顧客管理" %>
<h1><%= @title %></h1>

<div>
  <div>
    <%= link_to "新規登録", :new_admin_customer %>
  </div>

  <table>
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>停止フラグ</th>
      <th>アクション</th>
    </tr>
    <% @customers.each do |m| %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.email %></td>
        <td class="boolean">
          <%= m.suspended? ? raw("&#x2611;") : raw("&#x2610;") %></td>
        <td>
          <%= link_to "編集", [ :edit, :admin, m ] %> |
          <%= link_to "削除", [ :admin, m ], method: :delete,
            data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </table>

  <div>
    <%= link_to "新規登録", :new_admin_customer %>
  </div>
</div>