<% @title = "顧客の新規登録" %>
<h1><%= @title %></h1>

<div>
  <%= form_with model: @customer, url: [ :admin, @customer ] do |f| %>
    <%= render "form", f: f %>
    <div>
      <%= f.submit "登録" %>
      <%= link_to "キャンセル", :admin_customers %>
    </div>
  <% end %>
</div>