<% @title = "アカウント情報" %>
<h1><%= @title %></h1>

<div>
  <div>
    <%= link_to "アカウント情報編集", :edit_customer_account %> |
    <%# <%= link_to "パスワード編集", :edit_staff_password %> %>
  </div>

  <table>
    <tr>
      <th>氏名</th>
      <td>
        <%= @customer.name %>
      </td>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <td>
        <%= @customer.nickname %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td>
        <%= @customer.email %>
      </td>
    </tr>
        <tr>
      <th>紹介文</th>
      <td>
        <%= @customer.introduction %>
      </td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td class="password">***********</td>
    </tr>
  </table>
</div>